<!DOCTYPE html>
<html>
<head>
<title>Test landing page</title>

<script>

</script>

</head>
<body>







<form action="/tags" method="POST">

  <div>
    <input type="text" name="songTitle" placeholder="Title">
  </div>


  <div>
    <input type="text" name="songArtist" placeholder="Artist">
  </div>
    
  
  <div>
    <input type="text" name="songGenre" placeholder="Genre">
  </div>
    
    

    <!-- <input type="text" name="songAlbum"> -->

    <input type="submit" value="Save">

</form>






</body>
</html> 


