<!DOCTYPE html>
<html>
<head>
<title>Test landing page</title>

<script>
	var parsedUrl = new URL(window.location.toString());

	var num1 = parsedUrl.searchParams.get('name');
	var num2 = parsedUrl.searchParams.get('description');
	var num3 = parsedUrl.searchParams.get('link');

	document.getElementById("num1").innerHTML = 'Title shared: ' + num1;
	document.getElementById("num2").innerHTML = 'Text shared: ' + num2;
	document.getElementById("num3").innerHTML = 'URL shared: ' + num3;
</script>

</head>
<body>

<div id="num1"></div>
<div id="num2"></div>
<div id="num3"></div>


   <input type="button" id='script' name="scriptbutton" value="Run Script " onclick="goPython()">

   HEllo woorld




</body>
</html> 


