<!DOCTYPE html>
<html>
<head>

<title>MP3Download</title>
<link href="https://fonts.googleapis.com/css?family=Arvo|Roboto&display=swap" rel="stylesheet"> 
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{{ url_for('static', filename='scripts/service-worker.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
<article class="article-index">

    <h1>MP3Download</h1>
    <h4>Download <span>Youtube</span> videos as MP3</h4>

    <hr>

    <div class="preview-box">
      <img src="https://img.youtube.com/vi/{{ videoId }}/0.jpg">
      <p>{{ videoTitle }}</p>  
    </div>

    <div class="form-box">
        <form action="" method="" id="songForm">
            <input type="hidden" name="fileName" value="{{ fileName }}">
            <input type="hidden" name="videoUrl" value="{{ videoUrl }}">
            <input type="hidden" name="videoId" value="{{ videoId }}">

            <div class="title-input">Title</div>
            <div class="input-box">
              <input type="text" name="songTitle" placeholder="Title" value="{{ videoTitle[:40] }}" maxlength="50">
            </div>

            <div class="title-input">Artist</div>
            <div class="input-box">
              <input type="text" name="songArtist" placeholder="Artist" maxlength="50">
            </div>
              
            <div class="title-input">Genre</div>
            <div class="input-box">
              <input type="text" name="songGenre" placeholder="Genre" maxlength="50">
            </div>

            <div class="title-input">Icon</div>
            <div class="input-box input-icons">
                <div class="input-box-item"> 
                    <label class="container">
                        <input type="radio" checked="checked" name="songIcon" value="icon-mp3d">
                        <span class="checkmark">
                            <img src="{{ url_for('static', filename='images/large.png') }}">
                        </span>
                    </label>
                </div>  

                <div class="input-box-item">  
                    <label class="container">
                        <input type="radio" name="songIcon" value="icon-yt">
                        <span class="checkmark">
                            <img src="https://img.youtube.com/vi/{{ videoId }}/0.jpg">
                        </span>
                    </label>
                </div>  
            </div>

            <input type="submit" class="input-button" value="Get MP3" id="submit-button">

            <div id="submit-loader">
                <img src="{{ url_for('static', filename='images/loader.gif') }}">
            </div>

            <div id="submit-after">
                <h4>Your MP3 was downloaded</h4>
                <button type="submit" form="songForm">Download again</button>
            </div>

        </form>
    </div>

<div class="errors-container">
    Report any errors: <br>
    <a href="mailto:inf.juandiaz@gmail.com">inf.juandiaz@gmail.com</a>
</div>

<!-- Hidden form to download -->
<form action="/trigger" method="POST" id="superform">
    <input type="hidden" name="superInput" id="superinput">
</form>

</article>
</body>
</html> 

<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>