<!DOCTYPE html>
<html>
<head>

<title>Get MP3Downloader</title>
<link href="https://fonts.googleapis.com/css?family=Arvo|Roboto&display=swap" rel="stylesheet"> 
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
if('serviceWorker' in navigator){
    navigator.serviceWorker.register("../sw.js").then(function(reg){
        console.log("Service worker registered.");
     }).catch(function(err){
        console.log("Service worker not registered. This happened:", err)
    });
 }
</script>

<link rel="manifest" href="{{ url_for('static', filename='scripts/manifest.json') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
<article class="article-land">

	<h1>MP3Download</h1>
	<h4>Download <span>Youtube</span> videos as MP3</h4>

	<hr>

	<div class="add-container">
		<button id="add-button">Download it now</button>
	</div>

	<div class="logo-container">
		<img src="{{ url_for('static', filename='images/large.png') }}" class="logo">
		<p>
			Version: 1.0 <br>
			Release: 08/02/2020
		</p>
	</div>

	<div class="errors-container">
		Report any errors: <br>
		<a href="mailto:inf.juandiaz@gmail.com">inf.juandiaz@gmail.com</a>
	</div>

</article>
</body>
</html>

<script src="{{ url_for('static', filename='scripts/a2hs-chrome.js') }}"></script>