<!DOCUMENT html>
<html>
	<head>
		<title>PWD Share</title>
		
<!-- 		<script src="{{ url_for('static', filename='scripts/service-worker.js') }}"> -->


		<script>console.log("test1");
			console.log(headers.get('Service-Worker-Allowed'));
			console.log("test");
		</script>

		<script>
			console.log("land");
			if ('serviceWorker' in navigator) {
			    navigator.serviceWorker.register("{{ url_for('static', filename='scripts/service-worker.js') }}")
			      .then(function(reg){
			        console.log("Service worker registered.");
			     }).catch(function(err) {
			        console.log("Service worker not registered. This happened:", err)
			    });
			 }
		</script>

		<link rel="manifest" href="{{ url_for('static', filename='scripts/manifest.json') }}">

	</head>
	<body>
		<h1>Hello World</h1>s
	</body>
</html>

