<!DOCUMENT html>
<html>
	<head>
		<title>Get MP3Downloader</title>
		<link href="https://fonts.googleapis.com/css?family=Arvo|Roboto&display=swap" rel="stylesheet"> 
		<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
		
		<script>
			console.log("land");

			if('serviceWorker' in navigator){
			    navigator.serviceWorker.register("../sw.js").then(function(reg){
			        console.log("Service worker registered.");

			     }).catch(function(err) {
			        console.log("Service worker not registered. This happened:", err)
			    });
			 }
		</script>

		<link rel="manifest" href="{{ url_for('static', filename='scripts/manifest.json') }}">

	</head>
	<body>

		<style>
		  *{
		    box-sizing: border-box;
		  }
		  body{
		    font-family: 'Roboto', sans-serif;
		    color: white;
		    background-color: #25293b;
		  }
		  h1, h4{
		    font-family: 'Arvo', serif;
		    font-weight: bold;
		    text-align: center;
		    margin-bottom: 0;
		  }



		  .logo{
		  	width: 100px;
		  	margin: 0 auto;
		  }

		</style>


		
		<h1>MP3 Downloader</h1>
		<h4>Download any Youtube video as MP3 file</h4>

		<img src="{{ url_for('static', filename='images/large.png') }}" class="logo">


	</body>
</html>

